.lang_bot{
    
    background-image: url("/assets/img/lang_btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 69px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'PTSansNarrowRegular', cursive !important;

}