#animals{
  display:flex;
  flex-direction: column;
  .animals_page{
    display: flex;
    align-self: stretch;
    .animals_cont{
      //display: flex;
      //justify-content: center;
      .animal_cont{
        background-image: url('/../assets/img/frame.png');

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 1.5rem;
        a{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            // object-fit: cover;
            width: 100%;
          }
        }
      }
    }
  }
}
